// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

@import '~@fortawesome/fontawesome-free/css/all.css';

//@import "~ionicons/dist/scss/ionicons";

@import '~admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css';

@import "~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css";

@import '~admin-lte/plugins/jqvmap/jqvmap.min.css';

@import '~admin-lte/dist/css/adminlte.min.css';

@import '~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css';

@import '~admin-lte/plugins/daterangepicker/daterangepicker.css';

@import '~admin-lte/plugins/summernote/summernote-bs4.min.css';


//// Bootstrap
//@import '~bootstrap/scss/bootstrap';
