// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import '~@fortawesome/fontawesome-free/css/all.css';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import '~admin-lte/build/scss/AdminLTE';
